
    @{
        ViewBag.Title = "SachPartial";
        Layout = "~/Views/Shared/LayoutView.cshtml";
    }
    @using Lesson9.Models;

    @model  List<Lesson9.Models.Sach>
    <div class="row">
        @{ foreach (var item in Model)
            {
                <div class="col-4">
                    <img src="~/Content/HinhAnhSP/@item.AnhBia" />

                    @if (item.TenSach.Length > 30)
                    {
                        <p>
                            <strong title="=" @item.TenSach> @item.TenSach.Substring(0, 30)... </strong> <br />
                            <a href="@Url.Action("XemChiTiet", new {@ms = item.MaSach})">Xem Chi Tiết</a>

                        </p>

                    }
                    else
                    {
                        <strong title="=" @item.TenSach>@item.TenSach </strong> <br />
                        <a href="@Url.Action("XemChiTiet", new {@ms = item.MaSach})">Xem Chi Tiết</a>
                    }
                </div>
            }
        }
    </div>