@model Lesson9.Models.Sach

@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/LayoutView.cshtml";
}

<h2>Chi Tiết Sản Phẩm</h2>

<div class="card">
    <div class="card-body">
        <hr />

        <div class="row">
            <div class="col-sm-4">
                <img src="~/Content/HinhAnhSP/@Html.DisplayFor(model => model.AnhBia)" />
            </div>
            <div class="col-sm-8">
                <dl class="row">
                    <dt class="col-sm-4">
                        <p>Tên sách</p>
                    </dt>
                    <dd class="col-sm-8" style="color:blue;">
                        <b>@Html.DisplayFor(model => model.TenSach)</b>
                    </dd>
                    <dt class="col-sm-4">
                        <p>Chủ Đề</p>
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ChuDe.TenChuDe)
                    </dd>

                    <dt class="col-sm-4">
                        <p>Nhà Xuất Bản</p>
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
                    </dd>
                    <dt class="col-sm-4">
                        <p>Nội dung tóm tắt</p>

                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MoTa)
                    </dd>
                    <dt class="col-sm-4">
                        <p>Giá Bán</p>
                    </dt>
                    <dd class="col-sm-8">
                        <b style="color:red">@Html.DisplayFor(model => model.GiaBan)</b>
                    </dd>
                </dl>
            </div>
            <a href="@Url.Action("ThemGioHang", "GioHang", new { @ms = Model.MaSach,@strURL = Request.Url.ToString() })">
                <input type="submit" value="MUA NGAY " class="btn btn-primary" />
            </a>
            <a href="@Url.Action("SachPartial","Sach")">
                <input type="submit" value="MUA TIẾP " class="btn btn-primary" />
            </a>
        </div>
    </div>
</div>

