@model Lesson7.Models.tbl_Employee

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteEmployee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3 class="mt-4">Are you sure you want to delete this?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Gender)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DeptId)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DeptId)
                </dd>
            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back to List</a>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
