@model IEnumerable<Lesson7.Models.tbl_Employee>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <p class="mt-4">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.DeptId)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td><img src="~/Images/@Html.DisplayFor(modelItem => item.Image)" style="width: 50px; height: 50px;" /></td>
                        <td>@Html.DisplayFor(modelItem => item.DeptId)</td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateEmployee", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) |
                            @Html.ActionLink("Details", "EmployeeDetails", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                            @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</
