@model IEnumerable<Lesson7.Models.tbl_Employee>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShowEmployeeDetails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <p>
            <a href="@Url.Action("Thêm Mới", "CreateEmployee")" class="btn btn-primary">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Gender)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.Image)</th>
                    <th>@Html.DisplayNameFor(model => model.DeptId)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td><img src="~/Images/@Html.DisplayFor(modelItem => item.Image)" style="width: 10%" /></td>
                        <td>@Html.DisplayFor(modelItem => item.DeptId)</td>
                        <td>
                            <a href="@Url.Action("Edit", "ControllerName", new { id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("Details", "ControllerName", new { id = item.Id })" class="btn btn-info btn-sm">Details</a>
                            <a href="@Url.Action("Delete", "ControllerName", new { id = item.Id })" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
